
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'pretendard';
    src: url('../font/public/static/alternative/Pretendard-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'pretendard';
    src: url('../font/public/static/alternative/Pretendard-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: 'pretendard';
    src: url('../font/public/static/alternative/Pretendard-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'pretendard';
    src: url('../font/public/static/alternative/Pretendard-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'pretendard';
    src: url('../font/public/static/alternative/Pretendard-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'pretendard';
    src: url('../font/public/static/alternative/Pretendard-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'pretendard';
    src: url('../font/public/static/alternative/Pretendard-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'pretendard';
    src: url('../font/public/static/alternative/Pretendard-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'pretendard';
    src: url('../font/public/static/alternative/Pretendard-Black.ttf') format('truetype');
    font-weight: 900;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'pretendard';
}
body {
    margin: 0;
    width: 100%;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    transition: all 0.5s; 
    position: fixed;
    z-index: 9000;
}
.header .nav {
    width: 100%;
    height: 95px;
    top: 0;
    left: 0;
}
.header .nav-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header .nav-item > img,
.header .nav-item > .nav-menu {
    position: absolute;
}
.header .nav-item > img {
    left: 15%;
    transform: translateX(-50%);
}
.header .nav-menu {
    width:40vw;
    left: 52%;
    transform: translateX(-52%);
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
}
.header .nav-menu li{
    position: relative;
    cursor: pointer; 
    width: 120px;
    text-align: center;
}
.header .nav-menu a:hover,
.header .nav-menu-sub > ul > li:hover {
    color: #0072bc;
}
.header .nav-menu > li > a {
    color: #ffffff;
    display: block;
    height: 95px;
    line-height: 95px;
}
.header .nav-menu-sub {
    position: absolute;
    padding-top: 34px;
    font-size: 19px;
    font-weight: 400;
    height: 0;
    overflow: hidden;
    transition: all 0.1s 0s;
}
.header .nav-menu-sub > ul > li {
    height: 50px;
}
.header .nav-menu-sub > ul a {
    font-size: 18px;
    color: #666666;
}
.nav-menu>li .nav-menu-sub::before {
    content: "";
	position: absolute;
	top: 0px;
	width: 0;
	left: 50%;
	height: 3px;
	background-color: #0072bc;
	transform: translateX(-50%);
	transition: all 0.5s;
	z-index: 9990;
}
.nav-menu>li:hover .nav-menu-sub::before {
    width: calc(100% - 30px);
}
.header .logo {
    width: 160px;
}
.header .searchBtn {
    color: #ffffff;
}

.gnb-top-bg {
    width: 100%;
    height: 95px;
    position: absolute;
}
#gnbBg {
    overflow: hidden;
    width: 100%;
    height: 0;
    position:absolute;
    top: 95px;
    background-color: #f0f0f0;
    transition: height 0.3s ease-in-out
}
.off-logo {
    display: none;
}
.open .nav-menu-sub {
    opacity: 1.0;
    visibility: visible;
    height: 340px;
    transition: height 0.4s ease-in-out, opacity 0.5s ease-in-out 0.2s;
}
.open #gnbBg {
    height: 340px;
}
.open .gnb-top-bg,
.fix_top .gnb-top-bg {
    background-color: #ffffff;
    transition: all 0.6s
}
.open .nav-menu > li > a ,
.fix_top .nav-menu > li > a {
    color: #000000;
}
.fix_top .off-logo,
.open .off-logo {
    display: block;
}
.fix_top .on-logo,
.open .on-logo {
    display: none;
}
/* header responsive */
@media all and (max-width: 1024px){
    .header .nav-menu {
        width: 480px;
    }
    .header .nav-menu-sub {
        padding-top: 20px;
    }
    .header .nav-menu-sub > ul > li {
        height: 40px;
    }
    .open #gnbBg ,
    .open .nav-menu-sub{
        height: 280px;
    }
}

/* footer css */
.footer {
    height: 27vh;
    margin-top: 12.5vh;
    background-color: #212121;
    overflow: hidden;
}
.footer > .line {
    width: 95%;
    margin: 0 auto;
    height: 1px;
    background-color: #c3c3c3;
}
.footer > .com_info,
.footer > .copyright {
    color: #C3C3C3;
}
.footer > .com_info > img {
    width: 200px;
    height: 38px;
}
.footer > .com_info {
    width: 100%;
    height: 70%;
    margin-left: 221px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer > .com_info > ul {
    display: flex;
    flex-direction: column;
    margin-left: 128px;
}
.footer > .copyright {
    margin-right: 180px;
    height: 30%;
    overflow: hidden;
    margin: 0 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer > .copyright > ul {
    display: flex;
    width: 550px;
    align-items: center;
    justify-content: space-between;
}

/* subheader */
.submenu_bar{
    display: none;
}
.active_bar {
    display: block;
}

.visual {
    position: relative;
    height: 500px;
    background-image: url('../img/menu1-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.visual > .visual_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    color: #ffffff;
}
.visual > .visual_item > h1 {
    margin: 0;
    font-size: 50px;
}
.visual > .visual_item > p {
    width: 50%;
    text-align: center;
    margin-top: 10px;
    font-size: 17.5px;
}
.submenu_bar {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.fix_bar {
    position: fixed;
    top: 0;
    z-index: 1;
}
.submenu_bar > ul{ 
    width: 1100px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}
.submenu_bar > ul > li {
    margin: 0 50px;
}
.submenu_bar > ul  a {
    position: relative;
    color: #000000;
}
.submenu_bar > ul >li > .on,
.submenu_bar > ul >li > .nowpage{
    color: #404497;
    font-weight: 800;
}
.submenu_bar > ul >li > .on::before,
.submenu_bar > ul >li > .nowpage::before{
    position: absolute;
    top: 0px;
    left: -10px;
    width: 6px;
    height: 6px;
    background-color: #404497;
    border-radius: 50%;
    content: "";
}
/* header responsive */
@media all and (max-width: 1024px){
    .submenu_bar > ul {
        width: 990px;
    }
    .submenu_bar > ul > li {
        margin: 0 34px;
    }
}

 
/* 본문 공통 css */
.title {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 10vh;
    margin-bottom: 2vh;
    font-weight: 600;
    color: #222222;
}
.title_sub {
    text-align: center;
    color: #666666;
    font-weight: 200;
    padding-bottom: 5vh;
    margin: 0;
}
.sc_top {
    width: 50px;
    height: 50px;
    border: 1px #666666 solid;
    border-radius: 30px;
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    right: 10%;
    bottom: 7%;
}
.sc_top > i {
    color: #666666;
}


@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}
@keyframes opc {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
