ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
    width: 100%;
}
.chd {
    border: 2px solid blue;
    margin: 0 auto;
}
/* 메인 이미지 */
#main_visual {
    height: 700px;
    text-align: center;
}
#main_visual > #carouselExampleCaptions {
    height: 100%;
}
#main_visual > #carouselExampleCaptions img {
    width: auto;
    height: 700px;
    overflow: hidden;
    position: relative;
} 
#main_visual > .carousel-caption {
    bottom: 11.25rem !important;
}
#main_visual h5 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
#slideCont {
    border: none;
    background: none;
    color: #ffffff;
}



#buz {
    height: 800px ;
    padding: 80px 0;
}
#buz .buz_cont {
    width: 1350px;
    height: 640px;
    margin-left: 340px;
    position: relative;
}
#buz .content {
    height: 640px;
    position: absolute;
    top: 0;
}
#buz .content1 {
    width: 405px;
    left: 0;
    border-top: 4px solid #404497;
}
#buz .content1 > div {
    margin: 25px 0 35px 0;
}
#buz .content1 > div > h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}
#buz .content1 > div > p {
    font-size: 18px;
    color: #666666;
}
#buz .content1 > .btn_group {
    width: 100%;
    height: 335px;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #C3C3C3 ;
}
#buz .content1 .slide_btn {
    width: 100%;
    height:67px;
    border: none;
    border-bottom: 1px solid #C3C3C3;
    background-color: #ffffff;
}
#buz .content1 .btn_group .active {
    background-color: #404497;
    color: #F9F9F9;
    font-weight: 700;
}








#buz .content2 {
    width: 945px;
    height: 640px;
    right: 0;
}
#buz .content2 .slide_wrap {
    height: 640px;
    margin-left: 70px;
    position: relative;
    overflow: hidden;
}
#buz .content2 .slide_wrap img {
    width: 700px;
    height: 550px;
    border-radius: 15px;
}
#buz .content2 .slide_wrap .slide_inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
#buz .content2 .slide_wrap .slide_inner .slide_list {
    position: relative;
    width: 100%;
    height: 100%;
}
#buz .content2 .slide_wrap .slide_inner .slide_list li{
    width: 700px;
    height: 550px;
    position: absolute;
    bottom: 0;
    transition: transform 0.5s ease;
}
#buz .content2 .slide_wrap .slide_inner .slide_list .item {
    position: relative;
    height: 100%;
}
#buz .content2 .slide_wrap .slide_inner .slide_list .item div {
    position: absolute;
}
#buz .content2 .slide_wrap .slide_inner .slide_list .item > .dept {
    margin: 0 25px;
    color: #ffffff;
    bottom: 20px;
}
#buz .content2 .slide_wrap .slide_inner .slide_list #slide1 {
    left: 0;
    transform: translateY(-87px);
}
#buz .content2 .slide_wrap .slide_inner .slide_list #slide2 {
    left: 750px;
}
#buz .content2 .slide_wrap .slide_inner .slide_list #slide3 {
    left: 1500px;
}
#buz .content2 .slide_wrap .slide_inner .slide_list #slide4 {
    left: 2250px;
}
#buz .content2 .slide_wrap .slide_inner .slide_list #slide5 {
    left: 3000px;
}


#buz_news {
    height:70vh;
    position: relative;
}
#buz_news > .title {
    height: 40%;
    background-color: #404497;
}
#buz_news > .content {
    width: 70vw;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#buz_news > .content button {
    margin-top: 30px;
    width: 20vw;
    height: 50px;
}
#buz_news .news_item > h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
}
#buz_news .news_item > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#buz_news .news_item > ul > li {
    width: 32%;
}
#buz_news > .content img {
    width: 100%;
}



#com_intro {
    height: 30vh;
    border-bottom: 1px solid #c3c3c3;
}
#com_intro > .cont {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#com_intro > .cont > li {
    padding: 0 30px;
    display: flex;
}
#com_intro > .cont .cont_inner {
    margin-right: 40px;
}
#com_intro > .cont > li:first-child {
    border-right: 1px solid #c3c3c3;
}


#recruit{
    height: 60vh;
}
#recruit > ul {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
    padding: 120px 0;
    display: flex;
    justify-content: center;
}
#recruit > ul > li{
    padding: 0 60px;
}
#recruit > ul > li:first-child {
    border-right: #c3c3c3 1px solid;
}
#recruit > ul > li > ul > li {
    padding-bottom: 20px;
}
#recruit button {
    background: none;
    width: 10vw;
    padding: 10px 20px;
    border-radius: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}



#footer {
    height:40vh;
}