#menu01_read_wrap {
    width: 70%;
    margin: 0 auto;
}
#menu01_read_wrap a,
#menu01_read_wrap a:hover{
    color: #000000;
}
#menu01_read_wrap .detail {
    margin-top: 40px;
    border-top: 1px solid #212121;
}
#menu01_read_wrap .detail .title_group  {
    height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #C3C3C3;
}
#menu01_read_wrap .detail ul {
    display: flex;
    align-items: center;
}
#menu01_read_wrap .detail ul li {
    color:#666666;
}
#menu01_read_wrap .detail ul li:nth-child(odd) {
    margin-right: 18px;
    font-weight: 500;
    font-size: 17px;
}
#menu01_read_wrap .detail ul li:nth-child(even) {
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
}

#menu01_read_wrap .detail > .content_wrap {
    border-top: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3; 

}
#menu01_read_wrap .detail > .content_wrap > .content {
    padding: 20px;
}
#menu01_read_wrap .attach {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
}
#menu01_read_wrap > .btn_group {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#menu01_read_wrap > .btn_group > button {
    width: 175px;
    height: 56px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    color: #666666;
    background:none;
    font-size: 22px;
    font-weight: 600;
}
#menu01_read_wrap > .btn_group > button:last-child{
    background-color: #404497;
    color: #ffffff;
}
#menu01_read_wrap > .move_list {
    border-top: 1px solid #C3C3C3;
}
#menu01_read_wrap > .move_list > .arrow {
    height: 65px;
    padding-left: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #C3C3C3;
}
#menu01_read_wrap > .move_list > .arrow > .col1 {
    font-size: 20px;
}
#menu01_read_wrap > .move_list > .arrow i {
    margin-left:60px;
    margin-right:60px;
}
#menu01_read_wrap > .move_list > .arrow > .b_title {
    display: flex;
    align-items: center;
}
#menu01_read_wrap > .move_list > .arrow > .b_title::before {
    content: "";
    display: block;
    height: 25px;
    width: 1px;
    margin-right: 30px;
    background-color: #C3C3C3;
}