#menu01_05_wrap > .btn_group {
    display: flex;
    justify-content: center;
}
#menu01_05_wrap > .btn_group > button {
    width: 184px;
    height: 56px;
    border: 1px solid #C3C3C3;
    background-color: #F9F9F9;
}
#menu01_05_wrap > .btn_group > .active {
    background-color: #404497;
    border: none;
    color: #ffffff;
}
#menu01_05_wrap > .btn_group > button:first-child {
    margin-right: 5px;
}
#menu01_05_wrap > .list_wrap {
    width: 70%;
    margin: 50px auto;
}
#menu01_05_wrap > .list_wrap > table {
    width: 100%;
}
#menu01_05_wrap > .list_wrap > table > thead {
    height: 50px;
    border: 2px 0px 1px 0px;
    border-top: 2px solid #666666;
    border-bottom: 1px solid #666666;
    text-align: center;
}
#menu01_05_wrap > .list_wrap > table > thead th {
    color: #212121;
    font-weight: 500;
}
#menu01_05_wrap > .list_wrap > table > tbody tr {
    height: 50px;
    border-bottom: 1px solid #C3C3C3;
}