#menu01_01_wrap {
    width: 100%;
}

#menu01_01_wrap>.image_area {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 418px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 10vh;
}

#menu01_01_wrap>.image_area>.curtain_wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
}

#menu01_01_wrap>.image_area>.curtain_wrap>div {
    position: absolute;
    width: calc(50% - 490px);
    height: 100%;
    top: 0;
    background-color: #fff;
}

#menu01_01_wrap>.image_area>.curtain_wrap>.left {
    left: 0;
}

#menu01_01_wrap>.image_area>.curtain_wrap>.right {
    right: 0;
}

#menu01_01_wrap>.image_area>.bg {
    background-image: url('../img/menu1-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    min-width: 1920px;
    transform: translate(-50%, 0);
    /* transform-origin: bottom; */
    /* z-index: 10; */
}


#menu01_01_wrap>.com_info {
    background-color: #F9F9F9;
    width: 60%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#menu01_01_wrap>.com_info>.inner {
    margin: 0 auto;
}

#menu01_01_wrap>.com_info>.inner>.info_list {
    display: flex;
    width: 100%;
    margin: 0 auto;

    font-size: 1.1rem;
    height: 30px;
}

#menu01_01_wrap>.com_info>.inner>.info_list>li:first-child {
    width: 160px;
    font-weight: 600;
    color: #212121;
}

#menu01_01_wrap>.com_info>.inner>.info_list>li:last-child {
    color: #666666;
}

/* #menu01_01_wrap > .buz_field > .buz_item {
    height: 350px;
    background-color: #404497;
    position: relative;
}
#menu01_01_wrap > .buz_field > .buz_item > .line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
} */
/* #menu01_01_wrap > .buz_field > .buz_item > .inner {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}
#menu01_01_wrap > .buz_field > .buz_item > .inner > li {
    width: 250px;
    border: 1px solid magenta;
} */

.one_wrap {
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404497;
}

.one_wrap .line_box {
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex
}

.one_wrap .line {
    width: 50%;
    height: 0.5px;
    background-color: #ffffff;
    position: relative
}

.one_wrap .line:before {
    position: absolute;
    content: "";
    right: 0;
    top: -3px;
    width: 100%;
    height: 10px;
    background-color: #404497;
    transition: all 1s
}

.one_wrap .line:last-child:before {
    transition-delay: .3s
}

.one_wrap .line_box.active .line:first-child:before {
    width: 0
}

.one_wrap .line_box.active .line:last-child:before {
    width: 0
}

.one_wrap .cir {
    width: 250px;
    padding-top: 250px;
    background-color: #1947ba;
    border-radius: 50%;
    position: relative;
    color: #fff
}

.one_wrap .cir .one_text {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    font-size: var(--cont_sub_tit);
    text-align: center
}

.one_wrap .left {
    display: flex;
    align-items: center
}



.one_box {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    position: relative;
    flex-shrink: 0;
}

.one_box>li {
    width: 250px;
    padding-top: 250px;
    position: relative;
    text-align: center;
    margin-left: -4px;
}

/*.one_box > li:first-child .one_text {width: calc(100%)}*/
.one_box>li .one_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: calc(100% - 4px);
    padding: 0 20px;
    background-color: #404497;
    color: #ffffff;

}

.one_box>li .one_text .tit {
    font-weight: var(--cont_sub_tit_weight);
    display: block;
    white-space: nowrap;
    line-height: 1.25;
    font-size: 22px;
    font-weight: 600;
}



.one_box .circle-box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-itmems: center;
    border-radius: 50%;
    flex-direction: column;
    ;
    z-index: 11;
}

.one_box .circle-wrapper {
    width: calc(50% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 0;
    overflow: hidden;
    display: block;
}

.one_box .circle-wrapper-right {
    right: 2px;
}

.one_box .circle-wrapper-left {
    left: 2px;
}

.one_box .reverse .circle-box {
    transform: scale(-1, -1);
}

.one_box .circle-whole {
    width: 200%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: rotate(-135deg);
    display: block;
}

.one_box .circle-right {
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    right: 1px;
    animation: circleRight 1s linear forwards;
    animation-delay: 0s;
}

.one_box .circle-left {
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    left: 1px;
    animation: circleLeft 1s linear forwards;
    animation-delay: 0s;
}

@keyframes circleRight {
    0% {
        transform: rotate(-135deg);
    }

    50%,
    100% {
        transform: rotate(45deg);
    }
}

@keyframes circleLeft {

    0%,
    50% {
        transform: rotate(-135deg);
    }

    100% {
        transform: rotate(45deg);
    }
}


#menu01_01_wrap>.buz_field>.buz_item>.inner .circle_txt {
    color: #ffffff;
}



#menu01_01_wrap>.org {
    width: 100%;
}

#menu01_01_wrap>.org>.org_chart {
    background: #F4F5F9;
    width: 100%;
    height: 800px;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}



#menu01_01_wrap .chart {
    width: 831px;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border: 1px solid;

}
#menu01_01_wrap .chart p {
    margin: 0;
}
#menu01_01_wrap .depth1 .ct_top {
    width: 130px;
    height: 130px;
    background-color: #404497;
    margin: 0 auto;
    position: relative;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu01_01_wrap .depth1 .ct_top > h3 {
    color: #ffffff;
}
#menu01_01_wrap .depth1 > li {
    position: relative;
    height: 320px;
}
#menu01_01_wrap .chart .line {
    background-color: #c3c3c3;
    position: absolute;
}
#menu01_01_wrap .depth1 > li .line1 {
    width: 2px;
    height: 236px;
    left: 50%;
    top: 130px;
    animation-name:test;
    animation-duration: .3s; /* 애니메이션 지속 시간 */
    animation-timing-function: ease-in-out; /* 애니메이션 속도 곡선 */
    animation-fill-mode: forwards; /* 애니메이션 종료 후 상태 유지 */
}
#menu01_01_wrap .depth1 > li .line2 {
    width: 288px;
    height: 2px;
    /* background-color: #c3c3c3;
    position: absolute; */
    left: 50%;
    top:212px ;
    transform: translate(-50%,-50%);
}
#menu01_01_wrap .depth2 .type1 {
    width: 2px;
    height: 60px;
}
#menu01_01_wrap .depth2 .line3 {
    width: 670px;
    height: 2px;
}
#menu01_01_wrap .depth2 .line4{
    left: 115px;
}
#menu01_01_wrap .depth2 .line5 {
    right: 115px;
}
#menu01_01_wrap .depth2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu01_01_wrap .depth2 ul .line6 {
    width: 2px;
    height: 20px;
    background-color: #c3c3c3;
}
/* #menu01_01_wrap .depth1 > li::before {
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    width: 2px;
    height: 517px;
    background-color: #c3c3c3;
} */
#menu01_01_wrap .depth1 ul li {
    width: 230px;
    height: 50px;
    border-radius: 26px;
    position: absolute;
    top: 160px;
    border: 1px solid;
    background-color: #212121;
    color: #ffffff;
    line-height: 46px;
}
#menu01_01_wrap .depth1 ul li:nth-child(odd){
    left: 80px;
}
#menu01_01_wrap .depth1 ul li:nth-child(even){
    right: 80px;
}
/* #menu01_01_wrap .depth1 ul li:nth-child(odd)::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #c3c3c3;
    width: 560px;
    height: 2px;
    top: 50%;
    left: 50%;
    z-index: -1;
} */
/* #menu01_01_wrap .depth2::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #c3c3c3;
    width: 660px;
    height: 2px;

} */
#menu01_01_wrap .depth2 {
    position: absolute;
    top: 304px;
    display: flex;
    justify-content: center;
    width: 831px;
}
#menu01_01_wrap .depth2 .ct_top2,
#menu01_01_wrap .depth2 ul li {
    width: 230px;
    height: 50px;
    border-radius: 26px;
    line-height: 46px;
}
#menu01_01_wrap .depth2 .ct_top2 {
    background-color: #666666;
    color: #ffffff;
}
#menu01_01_wrap .depth2 ul li {
    background-color: #ffffff;
    color: #666666;
    border: 1px solid #c3c3c3;
}

#menu01_01_wrap .depth2 > li {
    padding-top: 60px;
    width: 230px;
    /* border: 1px solid; */
    position: relative;
    margin: 0 12px;
    text-align: center;
}
/* #menu01_01_wrap .depth2 > li:first-child::before,
#menu01_01_wrap .depth2 > li:last-child::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #c3c3c3;
    width: 2px;
    top: 0;
    left: 50%;
    z-index: -1;
}
#menu01_01_wrap .depth2 > li:first-child::before {
    height: 275px;
}
#menu01_01_wrap .depth2 > li:last-child::before {
    height: 230px;
} */



#menu01_01_wrap>.com_map {
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
}

#menu01_01_wrap>.com_map>.address {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 20px 0;
    position: relative;
}

#menu01_01_wrap>.com_map>.address>ul {
    display: flex;
    height: 30px;
    color: #666666;
}

#menu01_01_wrap>.com_map>.address>ul>li:first-child,
#menu01_01_wrap>.com_map>.guide>ul>li:first-child {
    width: 100px;
    font-weight: 600;
    color: #000000;
}

#menu01_01_wrap>.com_map>.address>.mapBtn {
    position: absolute;
    right: 20px;
    bottom: 25px;
}

#menu01_01_wrap>.com_map>.address>.mapBtn>button {
    width: 150px;
    height: 30px;
    background: none;
    border: 1px solid #BBBBBB;
}

#menu01_01_wrap>.com_map>.guide>ul {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

#menu01_01_wrap>.com_map>.guide>ul>li>ul {
    display: flex;
    align-items: center;
}

#menu01_01_wrap>.com_map>.guide>ul>li>ul p {
    margin: 0;
    color: #666666;
    margin-right: 20px;
}

#menu01_01_wrap>.com_map>.guide>ul>li>ul i {
    font-size: 50px;
    height: 100%;
    margin-right: 20px;
}


#map {
    height: 60vh;
    margin: 30px 0;
    background-color: #D9D9D9;
}

@keyframes test {

    0% {
        height: 0;
    }
    100% {
        height: 236px;
    }
}
