
#menu02_01_wrap {
    width: 100%;
}
#menu02_01_wrap > .img_wrap {
    width: 70vw;
    height: 420px;
    margin: 0 auto;
    overflow: hidden;
    
}
#menu02_01_wrap > .img_wrap > img {
    animation: scale_img 1s 0.5s linear forwards;
}





#menu02_01_wrap > .buz_content {
    /* border: 1px solid red; */
    width: 70%;
    height: 200px;
    margin: 50px auto;
}
#menu02_01_wrap > .buz_content > ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
}
#menu02_01_wrap > .buz_content > ul > li {
    width: 32%;
    border: #000000 solid 1px;
    text-align: center;
    height: 100%;
}
#menu02_01_wrap > .buz_content > ul > li > h2 {
    height:60px;
    line-height: 60px;
    color: #404497;
    border-bottom: 1px solid #000000;
}
#menu02_01_wrap > .buz_content > ul > li > p {
    height: 140px;
    line-height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    font-weight: 600;
}

#menu02_01_wrap > .content1 {
    width: 70vw;
    height: 60vh;
    margin: 10vh auto;
    border: 1px solid ;
}

#menu02_01_wrap > .content2 {
    width: 100%;
    height: 850px;
    background-color: #F4F5F9;
}
#menu02_01_wrap > .content2 > .inner {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
#menu02_01_wrap > .content2 > .inner > h2 {
    padding: 50px 0;
}
#menu02_01_wrap > .content2 > .inner > .group {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
#menu02_01_wrap > .content2 > .inner > .group > ul {
    display: flex;
    padding: 30px 0;
    font-size: 15px;
}
#menu02_01_wrap > .content2 > .inner > .group > ul > li {
    height: 70%;
    width: 300px;
}
#menu02_01_wrap > .content2 > .inner > .group > ul > li > ul > li::before {
    content: "ã†";
    color: #666666;
    margin-right: 10px;
}
#menu02_01_wrap > .content2 > .inner > .group > ul > li:first-child{
    width: 180px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
#menu02_01_wrap > .content2 > .inner > .group > ul > li > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 30px;
    color: #666666;
}
#menu02_01_wrap > .content2 > .inner > .group > ul:nth-child(2){
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}