

#menu02_03_wrap {
    width: 100%;
}
#menu02_03_wrap > .buz_content {
    width: 70%;
    margin: 0 auto;
}
#menu02_03_wrap > .buz_content img {
    width: 100%;
}
#menu02_03_wrap > .buz_content > div {
    margin-top: 40px;
}
#menu02_03_wrap > .buz_content h3 {
    font-size: 25px;
    margin: 0;
}
#menu02_03_wrap > .buz_content p {
    color: #666666;
    font-size: 18px;
    margin-bottom:40px;
}