#menu01_06_wrap a {
    color: #000000;
}
#menu01_06_wrap > .btn_group {
    display: flex;
    justify-content: center;
}
#menu01_06_wrap > .btn_group > button {
    width: 184px;
    height: 56px;
    border: 1px solid #C3C3C3;
    background-color: #F9F9F9;
}
#menu01_06_wrap > .btn_group > .active {
    background-color: #404497;
    border: none;
    color: #ffffff;
}
#menu01_06_wrap > .btn_group > button:first-child {
    margin-right: 5px;
}
#menu01_06_wrap > .content1 {
    width: 1000px;
    margin: 0 auto;
}
#menu01_06_wrap > .content1 > ul {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}