#menu02_02_wrap {
    width: 100%;
}

#menu02_02_wrap p {
    font-size: 14px;
}
#menu02_02_wrap > .buz_content {
    width: 70%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 100px;
}
#menu02_02_wrap > .buz_content > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

    border-top: 1px solid #D9D9D9;;
    border-left:1px solid #D9D9D9;;
}
#menu02_02_wrap > .buz_content > ul > li {
    width: 33%;
    border-bottom:1px solid #D9D9D9;;
    border-right:1px solid #D9D9D9;;
}
#menu02_02_wrap > .buz_content > ul > li > div{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#menu02_02_wrap > .buz_content > ul > li > div > img {
    margin-right: 20px;
}




#menu02_02_wrap > .perform {
    width: 100%;
    height: 850px;
    background-color: #F4F5F9;
}
#menu02_02_wrap > .perform > .inner {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
#menu02_02_wrap > .perform > .inner > h2 {
    padding: 50px 0;
}
#menu02_02_wrap > .perform > .inner > .group {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
#menu02_02_wrap > .perform > .inner > .group > ul {
    display: flex;
    padding: 30px 0;
    font-size: 15px;
}
#menu02_02_wrap > .perform > .inner > .group > ul > li {
    height: 70%;
    width: 300px;
}
#menu02_02_wrap > .perform > .inner > .group > ul > li > ul > li::before {
    content: "ã†";
    color: #666666;
    margin-right: 10px;
}
#menu02_02_wrap > .perform > .inner > .group > ul > li:first-child{
    width: 180px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
#menu02_02_wrap > .perform > .inner > .group > ul > li > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 30px;
    color: #666666;
}
#menu02_02_wrap > .perform > .inner > .group > ul:nth-child(2){
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}