/* 임시 */
#menu01_04_wrap {
    height: 3000px;
}


#menu01_04_wrap > .content1 {
    width: 1400px;
    margin: 0 auto;
}
#menu01_04_wrap > .content1 > .title2 {
    text-align: center;
}
#menu01_04_wrap > .content1 > .title2 > h3 {
    margin: 80px 0 15px 0;
}
#menu01_04_wrap > .content1 > .title2 > p {
    color: #666666;
    margin-bottom: 35px;
}




#menu01_04_wrap .circle_wrap {
    width: 900px;
    height: 500px;
    margin: 0 auto;
}
#menu01_04_wrap .circle_group {
    height: 320px;
}
#menu01_04_wrap .circle_group > ul {
    position: relative;
}
#menu01_04_wrap .circle_group li {
    width: 320px;
    height: 320px;
    position: absolute;
}
#menu01_04_wrap .circle_group li h4 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
#menu01_04_wrap .circle_group li > div {
    position: relative;
    width: 320px;
    height: 320px;
}
#menu01_04_wrap .circle_group li > div > div {
    position: absolute;
    width: 320px;
    height: 160px;
}
/* 커버 */
#menu01_04_wrap .circle_group li > div > .rotate {
    width: 324px;
    height: 164px;
}
#menu01_04_wrap .circle_group li .top{
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
    position: absolute;
    top: 0;
}
#menu01_04_wrap .circle_group li > div > .rotate_top {
    top: -1px;
    left: -2px;
}
#menu01_04_wrap .circle_group li .top{
    border-top-left-radius: 162px;
    border-top-right-radius: 162px;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
    position: absolute;
    top: 0;
}
#menu01_04_wrap .circle_group li .bottom{
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;

    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;

    position: absolute;
    top: 50%;
}



#menu01_04_wrap .circle_group li .circle .inner {
    width:100%;
    height:100%;
    text-align:center;
    background: white;
    overflow:hidden;
}

#menu01_04_wrap .circle_group li .top > .inner{
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
}
#menu01_04_wrap .circle_group li .top > .rotate > .inner{
    border-top-left-radius: 162px;
    border-top-right-radius: 162px;
}
#menu01_04_wrap .circle_group li .bottom > .inner {
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
}




#menu01_04_wrap .circle_group .circle1 {
    left: 0;
}
#menu01_04_wrap .circle_group .circle2 {
    left: 290px;
}
#menu01_04_wrap .circle_group .circle3 {
    left: 580px;
}
#menu01_04_wrap .circle_group .circle1 .bottom1,
#menu01_04_wrap .circle_group .circle2 .top1,
#menu01_04_wrap .circle_group .circle3 .bottom1 {
    background: #C3C3C3;
}
#menu01_04_wrap .circle_group .circle1 .top1 {
    background: linear-gradient(90deg, rgba(64,68,151,1) 0%, rgba(64,68,151,0.7875525210084033) 100%);
}
#menu01_04_wrap .circle_group .circle2 .bottom1 {
    background: linear-gradient(90deg, rgba(64,68,151,0.7875525210084033) 0%, rgba(64,68,151,0.5746673669467788) 100%);
}
#menu01_04_wrap .circle_group .circle3 .top1 {
    background: linear-gradient(90deg, rgba(64,68,151,0.5746673669467788) 0%, rgba(64,68,151,0.26934523809523814) 100%);
}

#menu01_04_wrap .circle_group .rotate {
    background: #ffffff;
}
#menu01_04_wrap .circle1 .top1 {
    z-index: 1;
}
#menu01_04_wrap .circle1 .top2 {
    z-index: 2;
}
#menu01_04_wrap .circle1 .bottom1 {
    z-index: 2;
}
#menu01_04_wrap .circle1 .bottom2 {
    z-index: 3;
}
#menu01_04_wrap .circle2 .top1 {
    z-index: 4;
}
#menu01_04_wrap .circle2 .top2 {
    z-index: 5;
}
#menu01_04_wrap .circle1 .top1 {
    z-index: 1;
}
#menu01_04_wrap .circle3 .bottom1 {
    z-index: 6;
}
#menu01_04_wrap .circle3 .bottom2 {
    z-index: 7;
}



#menu01_04_wrap .rotate_bottom {
    transform-origin: top;
    transition-timing-function: linear;
}
#menu01_04_wrap .rotate_top {
    transition-timing-function: linear;
    transform-origin: bottom;
}



#menu01_04_wrap .content1 .line_group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu01_04_wrap .content1 .line {
    width: 2px;
    margin: 20px 0 35px 0;
    background-color: #212121;
}
#menu01_04_wrap .content1 .line_group span {
    color: #404497;
    font-weight: 500;
}
#menu01_04_wrap .content1 .line_group h4 {
    opacity: 0;
}
@keyframes circleTopRotate {
    100% {
        transform: rotate(180deg);
    }
}
@keyframes circleBottomRotate {
    100% {
        transform: rotate(-180deg);
    }
}
@keyframes line_height {
    0% {
        height: 0;
    }
    100% {
        height: 123px;
    }
}