#menu01_05_wrap a {
    color: #000000;
}
#menu01_05_wrap > .btn_group {
    display: flex;
    justify-content: center;
}
#menu01_05_wrap > .btn_group > button {
    width: 184px;
    height: 56px;
    border: 1px solid #C3C3C3;
    background-color: #F9F9F9;
}
#menu01_05_wrap > .btn_group > .active {
    background-color: #404497;
    border: none;
    color: #ffffff;
}
#menu01_05_wrap > .btn_group > button:first-child {
    margin-right: 5px;
}
#menu01_05_wrap > .list_wrap {
    width: 70%;
    margin: 50px auto;
}
#menu01_05_wrap > .list_wrap > .search_gruop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}
#menu01_05_wrap > .list_wrap > .search_gruop .total {
    text-transform: uppercase
}
#menu01_05_wrap > .list_wrap > .search_gruop > .search_btn {
    display: flex;
}
#menu01_05_wrap > .list_wrap > .search_gruop .icon {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666666;
}
#menu01_05_wrap > .list_wrap > .search_gruop .icon i {
    font-size: 23px;
    color: #ffffff;
}
#menu01_05_wrap > .list_wrap > .search_gruop > button {
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #666666;
    border: none;
}
#menu01_05_wrap > .list_wrap > table {
    width: 100%;
}
#menu01_05_wrap > .list_wrap > table > thead {
    height: 50px;
    border: 2px 0px 1px 0px;
    border-top: 2px solid #666666;
    border-bottom: 1px solid #666666;
    text-align: center;
}
#menu01_05_wrap > .list_wrap > table > thead th {
    color: #212121;
    font-weight: 500;
}
#menu01_05_wrap > .list_wrap > table > tbody tr {
    height: 50px;
    border-bottom: 1px solid #C3C3C3;
}
#menu01_05_wrap .pagenav {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu01_05_wrap .pagenav .page_num {
    display: flex;
}
#menu01_05_wrap .pagenav .page_num li {
    width: 50px;
    height: 50px;
    border: 1px solid #CCCCCC;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu01_05_wrap .pagenav .page_num .active {
    color: #ffffff;
    background-color: #333333;
}