#menu03_03_wrap {
    width: 100%;
}
#menu03_03_wrap > .content1 {
    width: 1140px;
    margin: 0 auto;
}
#menu03_03_wrap > .content1 > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#menu03_03_wrap > .content1 > ul >li {
    width: 278px;
    height: 220px;
    border: 1px solid #d9d9d9;
    border-top: 3px solid #404497;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 8px 15px 27px 0px #0000000D;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#menu03_03_wrap > .content1 > ul >li h3 {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 600;
}