
#menu02_04_wrap {
    width: 100%;
}
#menu02_04_wrap > .title_wrap {
    width: 60%;
    margin: 0 auto;
}

#menu02_04_wrap > .buz_content {
    margin: 50px 0;
    width: 100%;
    height:450px;
    position: relative;
}
#menu02_04_wrap > .buz_content > h3 {
    height: 60px;
    width: 850px ;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    background-color:#404497 ;
    color: #ffffff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
#menu02_04_wrap .txt_wrap {
    background-color: #F4F5F9;
    width: 100%;
    height: 420px;
    bottom: 0;
    position: absolute;
}
#menu02_04_wrap .txt_wrap > .inner {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#menu02_04_wrap .txt_wrap > .inner > ul {
    display: flex;
    height: 300px;
    align-items: stretch;
}
#menu02_04_wrap .txt_wrap > .inner > ul > li > div{
    height:40px;
    padding-left: 26px;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
#menu02_04_wrap .txt_wrap > .inner > ul > li > div > .cir_number {
    background-color: #000000;
    height: 90%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
#menu02_04_wrap .txt_wrap > .inner > ul > li > ul {
    height: 70%;
    padding: 0 20px 0 40px;
    font-size: 17px;
}
#menu02_04_wrap .txt_wrap > .inner > ul > li > ul > li {
    /* margin: 0 20px; */
    text-indent: -25px;
    line-height: 28px;
}
#menu02_04_wrap .txt_wrap > .inner > ul > li > ul > li::before {
    content: "ã†";
    margin-right: 10px;
}
#menu02_04_wrap .txt_wrap > .inner > ul > li:nth-child(2) > ul {
    border-left: #C3C3C3 1px solid;
    border-right: #C3C3C3 1px solid;
}
#menu02_04_wrap > .title_wrap > .img {
    width:1020px;
    height: 500px;
    overflow: hidden;
    
}
#menu02_04_wrap > .title_wrap img {
    transition: 1s;
}
#menu02_04_wrap > .title_wrap img:hover {
    transform: scale(1.2);
    
}