
/* 임시  */
#menu01_02_wrap {
    height: 150vh;
}
#menu01_02_wrap > .content {
    width: 60%;
    margin: 0 auto;
}
/* 동일한 부분 (나중에 합치기) */
#menu01_02_wrap .title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10vh;
}
#menu01_02_wrap > .content > h3 {
    font-size: 2rem;
    /* text-align: center; */
    margin:5vh 0;
}
#menu01_02_wrap > .content span {
    color: #404497;
    font-weight: 600;
}
#menu01_02_wrap > .content > p {
    margin:30px 0;
    line-height: 1.7rem;
}
#menu01_02_wrap > .content > .com_name {
    margin: 5px 0;
}
#menu01_02_wrap > .content > h4 {
    font-size: 20px;
}